@Model List<ClienteRazor.Models.Persona>

@{
    ViewData["Title"] = "grids view";
}

@{
    ViewBag.Title = "Personas";
}

<h1>vista tipo grid</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>nombre</th>
            <th>descripcion</th>
            <th>valor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.Id</td>
                <td>@r.Name</td>
                <td>@r.Description</td>
                <td>@r.Amount</td>
            </tr>
        }
    </tbody>
</table>